<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/prac.css">
        
        <!-- Search -->
	    <link rel="stylesheet" href="/public/css/style.css"> <!-- Resource style -->
        
  		<script type="text/javascript" src="/public/js/jquery_1.9.js"></script>
    	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <!-- Search -->
        <script src="/public/js/modernizr.js"></script> <!-- Modernizr -->
        <script src="/public/js/main.js"></script> <!-- Resource jQuery --> 
        
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<head>

	<body>
        <!-- seaech -->
        
        <header class="cd-main-header container">
        
		<a class="navbar-brand" href="/sample">Invenire</a>

		<ul class="cd-header-buttons">
			<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
			<li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
		</ul> <!-- cd-header-buttons -->
         
	</header> <!-- search end -->
        
<main class="cd-main-content">
		<div class="container" id="postDiv">
			<div class="row" id="grid">
                
                <!-- data from data.json -->
                {{#each postData}}
                <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 centered grid-item" id="post">
					<a id="postLink" onclick="window.location='./chat'"> 
					<div id="imageborder">
						<img id="picture" src="{{imageURL}}"> 
					</div>
                    <div id="imageborder">
						<img id="picture" src="{{imageUPL}}"> 
					</div>
					<div class="container-fluid" id="titleBox" style="background-color: {{color}}">
						<h4 style="color:white " id="topicTitle">{{title}}</h4>
						<p style="color: white" id="subtitle">{{subtitle}}<p>
					</div>
					<div id="content" class="container-fluid" style="background-color: {{color}} ">
						<p id="contentText">{{description}}</p>
					</div>
                    <div id="author" class="container-fluid" style="background-color: {{color}}; height: 25px; padding-left: 3px; padding-right: 3px; padding-top: 3px; padding-bottom: 30px;">
						<p style="font-size: 10pt; float: left; color: white; padding-left: 20px">Anne Klein</p>
                        <i id="chat" class="glyphicon glyphicon-comment" style="float: right; color: white; font-size: 10pt; padding-right: 10px">10</i>
                        <i id="like" class="glyphicon glyphicon-heart" style="float: right; color: white; font-size: 10pt; margin-right: 10px; padding-right: 10px">20</i>       
					</div>
				</div>
                {{/each}}
                <!-- End -->
                

				<script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
				<script>
					$('#grid').imagesLoaded( function(){
					  $('#grid').masonry({
					   itemSelector: '#post'
					  });
					});
				</script>
			</div>
		</div>
    </main>   
    
    <a id="newPost" class="btn btn-success" onclick="window.location='./newpost';"> New Post </a>
            <!-- Search -->
    <div class="cd-overlay"></div>
            
    <nav class="cd-nav">
		<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
			<li class="has-children">
				<a onclick="window.location='./profile';">Profile</a>
			</li>

			<li class="has-children">
				<a onclick="window.location='/';">Logout</a>
			</li>
		</ul> <!-- primary-nav -->
	</nav> <!-- cd-nav -->

	<div id="cd-search" class="cd-search">
		<form>
			<input name="search" type="search" placeholder="Search...">
		</form>
	</div>
        
        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Title</h4>
      </div>
      <div class="modal-body">
          <input class="btn btn-primary" type="submit" name="login" value="Join Discussion" onclick="window.location='/discuss';"> 
					<div id="imageborder">
						<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg"> 
					</div>
					<div class="container-fluid" id="titleBox" style="background-color: #1FBBA6">
						<h4 style="color:white " id="topicTitle">Column 1</h4>
						<p style="color: white" id="subtitle"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid" style="background-color: #1FBBA6">
						<p id="contentText">The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>
				
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	</body>

</html>