<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/prac.css">
  		<script type="text/javascript" src="/public/js/jquery_1.9.js"></script>
    	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
		<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-73995106-1', 'https://tranquil-mountain-45267.herokuapp.com/sample');
		  ga('send', 'pageview');

		</script>

	<head>

	<body>

	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: white">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand">Invenire</a>
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
	                </button>
	            </div>
	            <div class="collapse navbar-collapse" id="navbar-container">
	            	<form class="navbar-form" role="search">
	            		<div class = "form=group">
    					<input id= "searchBar" type="category" placeholder="Search" class="st-default-search-input" name="document_type"></input> 
	                		<ul class="nav navbar-nav navbar-right">
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Art</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Music</a></li>
                                        <li><a href="#">Food</a></li>
                                        <li><a href="#">Dream</a></li>
                                    </ul>
                                </li>
	                    		<li id="navListElement"><a href="./profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>    
	                    		<li id="navListElement"><a href="/">Logout</a></li>     
	                		</ul>
    					</div>
    				</form>
	            </div>
	        </div>
	    </nav>

		<div class="container " id="postDiv">
			<div class="row" id="grid">
                
                <!-- data from data.json -->
                {{#each postData}}
                <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 centered grid-item" id="post">
					<a id="postLink" href= "./discuss"> 
					<div id="imageborder">
						<img id="picture" src="{{imageURL}}"> 
					</div>
					<div class="container-fluid" id="titleBox" style="background-color: {{color}}">
						<h4 style="color:white " id="topicTitle">{{title}}</h4>
						<p style="color: white" id="subtitle">{{subtitle}}<p>
					</div>
					<div id="content" class="container-fluid" style="background-color: {{color}} ">
						<p id="contentText">{{description}}</p>
					</div>
				</div>
                {{/each}}
                <!-- End -->
                

				<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
				<script>
					$('#grid').imagesLoaded( function(){
					  $('#grid').masonry({
					   itemSelector: '#post'
					  });
					});
				</script>
			</div>
		</div>

		<a id="newPost" class="btn btn-success" onclick="window.location='./newpost';"> New Post </a>
        
        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Title</h4>
      </div>
      <div class="modal-body">
          <input class="btn btn-primary" type="submit" name="login" value="Join Discussion" onclick="window.location='/discuss';"> 
					<div id="imageborder">
						<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg"> 
					</div>
					<div class="container-fluid" id="titleBox" style="background-color: #1FBBA6">
						<h4 style="color:white " id="topicTitle">Column 1</h4>
						<p style="color: white" id="subtitle"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid" style="background-color: #1FBBA6">
						<p id="contentText">The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
                        <p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>
				
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
<!-- Swiftype -->
<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','pe2hQjwXnahGmuByk9S4','2.0.0');
</script>
<!-- End Swiftype -->

	</body>

</html>